body {
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    position: fixed;
    background-color: rgb(88, 172, 247);
    height: 100vh;
}

.side {
    width: 350px;
}

.sidebar .logo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.sidebar .logo img {
    width: 120px;
}

.sidebar .logo h5 {
    color: white;
}

hr {
    width: 290px;
}

.sidebar .isi {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.isi a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 35px;
    color: aliceblue;
}

.logout{
    margin-top: 60px;
}
.logout a{
    text-decoration: none;
    color: white;
    background-color: rgb(80, 147, 192);
    margin-left: 140px;
    padding: 15px;
    border-radius: 20px;
}

.content {
    margin-left: 350px;
    padding: 20px;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.box {
    background-color: rgb(102, 233, 233);
    padding: 10px;
    border-radius: 20px;
}

.box2 {
    display: flex;
    gap: 20px;
}

.card {
    display: block;
    width: 600px;
    background-color: antiquewhite;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}